.logoWithIcons {
    display: flex;
}

.empty {
    width: 20vw;
}

.logo {
    display: flex;
    justify-content: center;
    width: 60vw;
    overflow: hidden;
    margin: -2% auto -5% 0;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vw;
}

.icons a:hover {
    color: #F43D53;
}

.icons a {
    color: #353535;
    text-decoration: none;
}

.icons i {
    font-size: 2.5vw;
    margin: 0.5vw;
}

.menu {
    margin: 10px;
    padding-left: 0;
    display: flex;
    justify-content: center;

}

.menu li {
    display: inline;
    margin: 5px;
}

.menuLi>a {
    color: #333;
    text-decoration: none;
    display: inline-block;
    font-size: smaller;
    position: relative;
}

.menuLi>a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #F43D53;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.menuLi>a:hover::after,
.menuLi>a:active::after {
    transform: scaleX(1);
    transform-origin: bottom center;
}

.active {
    border-bottom: 2px solid #F43D53;
    line-height: 0.85;

}