* {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    background-color: #f2f2f2;
}

nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

a {
    padding: 5px;
}

.uno {
    display: flex;
    justify-content: space-between;
    border: solid;
}

p {
    padding: 20px;
    width: 200px;
    height: 150px;
}

#b1 {
    border-radius: 25px;
    background-color: greenyellow;

}

#b2 {
    border-radius: 25px;
    border: 2px solid blueviolet;

}

#b3 {
    border-radius: 25px;
    background-image: url(./images/logo.png);
    background-position: left top;
    background-repeat: repeat;
}

#b4 {
    border-radius: 12px 30px 5px 70px;
    background-color: red;
}

#b5 {
    /* border-radius: 100%; */
    background-color: greenyellow;
    /* border: 20px; */
    border-style: dashed;
    /* border-color: brown; */
    border-image-source: url(./images/logo.png);
    border-image-slice: 25%;
    border-image-repeat: repeat round;
    border-image-width: 20px;
    border-image-outset: 20px;
    transition: 3000ms;
    animation: border-image-width 3s infinite;
    /* background-image: url(./images/logo.png); */
}

@keyframes border-image-width {
    0% {
        border-image-width: 20px;
    }

    100% {
        border-image-width: 40px;
    }
}